///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #6A5ACD;
$masthead-small-color:   #E6E6FA;

$post-title-color:       #663399;
$post-date-color:        #9a9a9a;


$body-color:            #6A5ACD;
$body-background-color: #E6E6FA;

$link-color:            #7B68EE;

$headings-color:        #4B0082;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

$pre-background-color:  #E6E6FA;    // pre

$blockquote-color:        #9370DB;  // blockquote
$blockquote-border-color: #9370DB;

$table-border-color:         #F8F8FF;
$table-odd-background-color: #F8F8FF;


